@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;500;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900");

body {
  color: #F4FDFB;
  text-align: center;
  background-image: linear-gradient(rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.7) 50%), url("./images/colosseo.jpg");
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
}

.container {margin: 0 auto;
  padding: 32px;
  text-align: center;
}

.round-picture {
  height: 135px;
  width: 135px;
  border-radius: 50%;
}

.follow-me {
  color: #FF9F1C;
  margin-top: 80px;
  font-size: 18px;
}

a {
  color: #F4FDFB;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
  color: #6a6f6f ;
}

.banner {
  padding: 32px;
  margin-bottom: 32px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0px;
  font-weight: lighter;
  text-align: center;
}

.btn-container {
  margin: 32px auto 88px;
}

.btn-blue {
  background-color: rgba(100, 100, 100, 0.3);
  color: white;
  text-align: center;
  width: 132px;
  padding: 15px 20px;
  border-radius: 4px;
}

.btn-blue:hover {
  background-color: rgba(100, 100, 100, 0.8);
  color: white;
}

.paragraphs {
  padding: 2px;
  font-weight: bold;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.social-logo {
  font-size: 36px;
}

.social-logo > a {
  color: #6a6f6f ;
  text-decoration: none;
}

.social-logo > a:hover {
  font-weight: bold;
  color: #F4FDFB;
}
